.grid-container .centerDiv {
  background: #f9eff9;
  background-image: url("../images/board.jpg");
  display:block;
  width: 100%;
  height: 75vh;
  float:none;
  border: greenyellow solid 2px;}

.grid-container .user-cards {
  width: 100%;
  height: 200px;
  text-align: center;
}
.grid-container .user-cards img {
  height: 100px;
  float: none;

}

.pc-cards {
  height: 100px;
  display:block;
  display:none;
}
.pc-cards img {
  float:right;
  width: 50px;
  height: 50px;
}

.grid-container .game-area {
  float:left;
  height: 50vh;
  width: 100%;
  display:inline-block;
}

@media  (min-width: 500px) {
  .grid-container .game-area {
    height: 30vh;

  }
}

@media  (min-width: 800px) {

  .grid-container .centerDiv {
    width: 100%;
    height: 75vh;
    float: left;
  }

  .grid-container .footer {
    height: 10vh;
  }
  .grid-container .user-cards {
    width: 600px;
    height: 200px;
    float: left;
  }
  .grid-container .user-cards img {
    float: right;
    width: 100px;
  }
  .pc-cards {
    vertical-align: center;
    display:block;
    width: 100px;
  }
  .pc-cards img {
    float:right;
    width: 100%;
    height: 100px;
  }
  .pc-cards.pc1 {
    display: block;
    margin: 0 auto;
  }
  .pc-cards.pc2{
    float:right;
    height: 100px;
  }
  .grid-container .pc-cards .pc3 {
    width:100%;
    height: 100px;
  }
  .grid-container .game-area {
    width: 500px;
    height: 300px;
  }
}
